__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.mypy_cache/
.pytest_cache/
.DS_Store
.idea/
.vscode/
*.log
config.ini
flask-minio-gallery.zip
manifest-gallery-with-vault.yaml
manifest-gallery.yaml
Dockerfile
charts/
compose.yaml
compose.yml
config-ini.example
README.md